<template>
  <q-page>
    <div class="body">
    <div class="border">
      <div class="">
        <img src="../statics/cvv.jpg" class="imgname">
        <span class="name">BILA CHAIRIL BARIYAH</span>
      </div>
      <div class="right">
        <div class="row">
          <div class="col-3">
            <img src="../statics/bcb.jpg" alt="" class="foto">
          </div>
          <div class="col-9">
            <span class="about">Personal Details</span><br>
            <h9 class="description">My name is Chairil Bariyah. I attended Daarul Abroor Vocational School, where I was Software Engineering. I was born in Tasikmalaya May 16, 2002.</h9>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="color">
            <div class="">
              <span class="contact">CONTACT</span>
              <hr style="position: absolute; width: 80px; border: 1px solid black; top: 7%; left: 20px;"><br><br><br>
            <div class="">
              <img src="/statics/wa.svg" alt="" class="image">
              <span class="isi">083827750070</span>
            </div>
            <div class="">
              <img src="/statics/ig.png" alt="" class="image">
              <span class="isi">billachairil16</span>
            </div>
            <div class="">
              <img src="/statics/email.svg" alt="" class="image">
              <span class="isi">Bilachairil1605@gmail.com</span>
            </div>
            <div class="">
              <img src="/statics/lokasi.svg" alt="" class="image">
              <span class="isi">Tasikmalaya, Jawa Barat</span>
            </div><br><br>
            </div>
          <div class="">
            <span class="expertise">EXPERTISE</span>
            <hr style="position: absolute; width: 80px; border: 1px solid black; top: 39%; left: 20px;"><br>
            <ul>
              <li>
                <p class="programmer">Programmer</p>
                <div class="q-pa-md">
                  <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress1" color="black" class="q-mt-sm" />
                </div>
                </li>
              </ul>
              <ul>
                <li>
                  <p class="ps">Photoshop</p>
                  <div class="q-pa-md">
                    <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress2" color="black" class="q-mt-sm" />
                  </div>
                  </li>
                </ul>
                <ul>
                  <li>
                    <p class="microsoft">microsoft</p>
                    <div class="q-pa-md">
                      <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress3" color="black" class="q-mt-sm" />
                    </div>
                    </li>
                  </ul>
                    <div class="">
                      <span class="language">LANGUAGE</span>
                      <hr style="position: absolute; width: 80px; border: 1px solid black; top: 72%; left: 20px;"><br>
                      <ul>
                        <li>
                          <p class="indonesia">Indonesian</p>
                          <div class="q-pa-md">
                            <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress5" color="black" class="q-mt-sm" />
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <p class="inggris">English</p>
                          <div class="q-pa-md">
                            <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress6" color="black" class="q-mt-sm" />
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <p class="sunda">Sundanese</p>
                        <div class="q-pa-md">
                          <q-linear-progress stripe rounded style="height: 10px; width: 120px; margin-top: -25px;" :value="progress7" color="black" class="q-mt-sm" />
                        </div>
                      </li>
                    </ul>
                    </div>
          </div>
          </div>
        </div>
        <div class="">
          <div class="col-8">
            <div class="experience">
              <span class="exp">EXPERIENCE</span>
              <hr style="position: absolute; width: 80px; border: 1px solid black; top: 4%; left: 7px;">
              <div class="web">
                <span class="">Organizational Experience</span>
                <hr style="width: 400px; border: 1px solid black;">
                <ul>
                  <li>
                    <span>2015-2016</span><br>
                    <h10>Ketua1 Majelis Permusyawaratan Kelas (MPK) Mts.Muawanah</h10>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>2018-2019</span><br>
                    <h10>Bendahara Ambalan SMK Daarul Abroor</h10>
                  </li>
                </ul>
            </div><br><br>
              <div class="top">
                <span class="">Lorem</span>
                <hr style="position: absolute; width: 420px; border: 1px solid black; top: 44%; left: 2px;"><br><br>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                </div><br><br>
              <div class="top">
                <span class="">EDUCATION</span>
                <hr style="position: absolute; width: 420px; border: 1px solid black; top: 62%; left: 2px;"><br><br>
                <ul>
                  <li>
                    <span>2007-2008</span><br>
                    <h9>TK Candra Kumara Sari</h9>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span>2008-2014</span><br>
                    <h9>SD No.3 Abiansemal</h9>
                  </li>
                </ul>
                <ul>
                  <li class="MTs">
                    <span>2014-2017</span><br>
                    <h9>MTs.Muawanah</h9>
                  </li>
                </ul>
                <ul>
                  <li class="SMK">
                    <span>2017- </span><br>
                    <h9>SMK.DarulAbroor</h9>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      progress1: 0.4,
      progress2: 0.7,
      progress3: 0.8,
      progress4: 0.5,
      progress5: 0.9,
      progress6: 0.6,
      progress7: 0.9
    }
  }
}
</script>

<style>
  .body{
    background: #DCDCDC;
    height: 1000px;
    max-width: 1500px;
  }
  .foto{
    width: 110px;
    height: 110px;
    position: absolute;
    top:5px;
    left: 50px;
    border-radius: 50%;
  }
  .image{
    width: 20px;
    height: auto;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
  }
  .isi{
    font-family: Cooper black;
    font-size: 12px;
  }
  .border{
    background: white;
    width: 50%;
    max-width: 1500px;
    height: 1000px;
    margin: auto;
    border: 1px solid black;
    position: relative;
  }
  .imgname{
    width: 100px;
    height: 120px;
    position: absolute;
    top: 5px;
    left: 50px;
  }
  .name{
    position: relative;
    left: 200px;
    top: 50px;
    font-family: Cooper Black;
    font-size: 20px;
  }
  .right{
    width: 100%;
    height: 120px;
    background-color: #DCDCDC;
    position: relative;
    top: 90px;
  }
  .about{
    position: absolute;
    left: 200px;
    padding-top: 10px;
    font-family: Cooper Black;
  }
  .description{
    position: absolute;
    left: 180px;
    padding-right: 20px;
    text-align: justify;
    padding-top: 20px;
    font-family: Georgia;
  }
  .color{
    background-color: #e5a3b2;
    width: 30%;
    height: 738px;
    position: absolute;
    top: 260px;
  }
  .contact{
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: Cooper Black;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .expertise{
    position: absolute;
    top: 35%;
    left: 30px;
    font-family: Cooper Black;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .programmer{
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .ps{
    margin-top: -15%;
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .microsoft{
    margin-top: -15%;
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .language{
    position: absolute;
    top: 68%;
    left: 30px;
    font-family: Cooper Black;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .indonesia{
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .inggris{
    margin-top: -20%;
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .sunda{
    margin-top: -20%;
    margin-left: 1%;
    font-family: Cooper Black;
  }
  .experience{
    position: absolute;
    top: 285px;
    font-family: Cooper Black;
  }
  .exp{
    position: absolute;
    top: -6px;
    left: 30px;
    font-family: Cooper Black;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .top{
    margin-top: -10px;
    font-family: Georgia;
    padding-right: 10px;
  }
  .web{
    padding-top: 50px;
    font-family: Georgia;
    text-align: justify;
    padding-right: 50px;
  }
</style>
